
.TodoApp , .TodoApp * {
  box-sizing:border-box;
}
.TodoApp {
  width:300px;
  margin:100px auto;
  font-family:sans-serif;
  font-size:15px;
}

.TodoEditor {
  background-color:whitesmoke;
  padding:10px;
  border:solid 1px silver;
  box-shadow:0 3px 9px rgba(0,0,0,0.1);
  border-radius:2px;
}

.TodoEditor .inputs * {
  width:100%;
  margin-bottom:10px;
}

.TodoEditor .controls {
  display:flex;
  justify-content:space-between;
}
